.rich-text code {
  @apply text-xs dark:text-white md:text-base;
}

.h1 {
  @apply text-5xl font-black tracking-tighter text-dark dark:text-white sm:text-7xl lg:py-8 xl:text-8xl;
}

.h2 {
  @apply text-4xl font-black tracking-tighter transition-all duration-100 ease-linear dark:text-white sm:text-5xl lg:text-7xl;
}

.h3 {
  @apply text-3xl font-black tracking-tighter md:text-3xl;
}
